<script>
<!--
    $(function() {
        $( '#jquery-ui-sortable' ) . sortable();
        $( '#jquery-ui-sortable' ) . disableSelection();
    });
// -->
</script>

<style>
<!--
    #jquery-ui-sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 1280;
     }
     #jquery-ui-sortable li {
        float: left;
        margin: 1px;
        padding: 30px 0px 0px 0px;
        font-size: 15px;
        font-weight: bold;
        width: 640px;
        text-align: center;
        background: none;
     }
-->
</style>

<div style="display: -webkit-box;　">
  <div style="width:300px">
    <ul>
    <% @dashboards.each do |dashboard| %>
      <li>
        <span><%= link_to dashboard.name, dashboard %></span>
        <span><%= link_to 'Edit', edit_dashboard_path(dashboard) %></span>
        <span><%= link_to 'Destroy', dashboard, confirm: 'Are you sure?', method: :delete %></span>
      </li>
    <% end %>
    </ul>
  <div>

  <div>
    <p id="notice"><%= notice %></p>
    <h1><%= @dashboard.name %></h1>

    <ul id="jquery-ui-sortable">
        <% @dashboard.snipets.each do |snipet| %>
        <li class="ui-state-default">
          <div class="item">/snipets/<%= snipet._id %></div>
        </li>
        <% end %>
    </ul>
    <div style="clear: both;"></div>
    <%= link_to 'Edit', edit_dashboard_path(@dashboard) %>
  </div>
</div>
