<div id="box">
  <nav id="leftBox">
    <ul>
    <% @dashboards.each do |dashboard| %>
      <li>
        <%= link_to dashboard.name, dashboard %>
        <!--
        <span><%= link_to 'Edit', edit_dashboard_path(dashboard) %></span>
        <span><%= link_to 'Destroy', dashboard, confirm: 'Are you sure?', method: :delete %></span>
        -->
      </li>
    <% end %>
    </ul>
  </nav>
  <div id="main">
    <ul id="toolbar">
      <li><%= link_to 'Edit', edit_dashboard_path(@dashboard) %></li>
      <li><%= link_to 'Destroy', @dashboard, confirm: 'Are you sure?', method: :delete %></li>
    </ul>
    <p id="notice"><%= notice %></p>
    <h1><%= @dashboard.name %></h1>

    <ul id="jquery-ui-sortable">
        <% @dashboard.snipets.each do |snipet| %>
        <li class="ui-state-default">
          <div class="item">/snipets/<%= snipet._id %></div>
        </li>
        <% end %>
    </ul>
    <div style="clear: both;"></div>
  </div>
</div>
