<h1>Listing snipets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>ChartType</th>
    <th>Table Visible</th>
    <th>Chart Visible</th>
    <th></th>
    <th></th>
  </tr>

<% @snipets.each do |snipet| %>
  <tr>
    <td><%= snipet.name %></td>
    <td><%= snipet.chartType %></td>
    <td><%= snipet.isTableVisible %></td>
    <td><%= snipet.isChartVisible %></td>
    <td><%= link_to 'Show', snipet %></td>
    <td><%= link_to 'Destroy', snipet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snipet', new_snipet_path %>
