<p>
  <p id="notice"><%= notice %></p>
  <%= render 'form' %>
</p>

<h1>Result:</h1>
<p>
<%= p @data %>
</p>
<h1>Preview:</h1>
<article class="snipet">
  <style type="text/css">
    .container {
      width : 600px;
      height: 384px;
      margin: 8px;
    }
  </style>
 
  <h1><%= @snipet.name %></h1>
  <table class="<%= (@snipet.isTableVisible== false) ? "hidden" : "" %>">
     <%=raw @table_recods %>
  </table>
  <div class="container <%= (@snipet.isChartVisible== false) ? "hidden" : "" %>"></div>
  <input type="hidden" class="chartType" value="<%= @snipet.chartType %>" />
</article>
