<p>
  <p id="notice"><%= notice %></p>
  <%= render 'form' %>
</p>

<h1>Result:</h1>
<p>
<%= p @data %>
</p>
<h1>Preview:</h1>
<article class="snipet">
  <style type="text/css">
    .container {
      width : <%= @snipet.width %>px;
      height: <%= @snipet.height %>px;
      margin: 8px;
    }
  </style>
 
  <h1><%= @snipet.name %></h1>
  <table class="<%= (@snipet.isTableVisible== false) ? "hidden" : "" %>">
     <%=raw @table_recods %>
  </table>
  <div class="container <%= (@snipet.isChartVisible== false) ? "hidden" : "" %>"></div>
  <input type="hidden" class="chartType" value="<%= @snipet.chartType %>" />
  <input type="hidden" class="scale" value="<%= @snipet.scale %>" />
  <input type="name" class="name" value="<%= @snipet.name %>" />
</article>
